*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
     min-height: 100vh; /*vh=viwepoint height  total screeen*/
    background-image: url(login5.png) ;
    
 background-size:cover ;
 background-position: center;

    }

    .Wrapper{
        width: 430px;
        padding: 80px 40px;
        border: 1px solid rgba(6,35,57,.5);
        background: transparent;
        backdrop-filter: blur(20px);
        box-shadow: 0 0 10px violet;
        border-radius: 10px ;
    }
    .Wrapper h1{
        font-size: 36px;
        color: #062339;
        text-align: center;
        font-weight: bolder ;
        
    }
    .input-box{
        position: relative;
        height: 50px;
        width: 100%;
        margin: 20px 0;


    }
    .input-box input{
        width: 100%;
        height: 90%;
        background: transparent;
            border: 1.5px solid rgba(6,35,57,.5);
            border-radius: 40px;
            font-size: 16px;
            color: #fff;
            transition: all 0.4s;
    }
    .input-box::placeholder{
              color:rgba(6,35,57,.5);
    }
    .input-box:focus{
              border: 1.5px solid rgb(6,35,57);
    }
    .remember{
        display: flex;
        justify-content: space-evenly;
        font-size: 14px;
        margin: 15px 15px 20px;
        
    }
    .remember input{
        color: #fff;
        margin-left:3px ;

    }
    .remember a{
        color:#062339;
        text-decoration: none;
    }
    .remember a:hover{
        text-decoration: underline;
    }
    .button{
        width: 100%;
        height: 45px;
        background: transparent;
        box-shadow: 0 0 10px rgba(0,0,0,0.8);
        font-size: 16px;
        font-weight: 600;
        color: #222;
        backdrop-filter:blur(20px);
        border: none;
        border-radius: 40px;
    }
    .button:hover{
        background: #062339;
        color: #eee;
    
    }
    .button:active{
        transform: translateY(0px);
    }
    .ragister{
        margin: 20px 0 15px;
        font-size: 14.6px;
        text-align: center;
    
    }
.ragister p a{
margin-left: 5px;
color: #062339;
text-decoration: none;
font-weight: bold;
}
.ragister p a:hover{
    text-decoration: underline;

}